@import '../../global.scss';

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 3rem;
        @include mobile {
            padding-top: 50px;       
            padding-bottom: 30px;       
        }
    }
    ul {
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        @include mobile {
            flex-wrap: wrap;
            
            justify-content: center; 
        }
        
    }
    .container {
        width: 70%;
        display: grid;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include mobile {
            width: 100%;
            margin-top: 30px;
        }
        .item {
            width: 320px;
            height: 200px;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            position: relative;
            transition: all 1s ease;
            @include mobile {
                width: 150px;
                height: 100px;
                margin: 10px 10px;
                
            }
            h3 {
                position: absolute;
                font-size: 2rem;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
            }
            &:hover {
                background-color: $mainColor;
                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}